<!DOCTYPE html>
<html lang="ru">

</html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <app></app>
</body>

</html>