html,body {
    height: calc(100% - 30px);
}
canvas {
    display: block; /* fix necessary to remove space at bottom of canvas */
}

/* ========== Bootstrap Overrides ========== */
.navbar {
    line-height: 40px;
}

.btn-group.special {
    display: flex;
}

.row {
    padding : 0;
}

.navbar-nav {
    padding-left: 20px;
    font-size: 0.9rem;
}

.navbar-nav li :hover {
    background-color: #1a252f;
}

.list-group li {
    padding: 9px;
}

.card-header {
    padding-top: 5px;
    padding-bottom: 5px;
}

.card {
  margin-bottom: 16px;
}

/* Группа кнопок равных по размеру, включая кнопки с выпадающими списками */
.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate; }
.btn-group-justified .btn,
.btn-group-justified .btn-group {
    float: none;
    display: table-cell;
    width: 1%; }
.btn-group-justified .btn .btn,
.btn-group-justified .btn-group .btn {
    width: 100%; }
.btn-group-justified .btn .dropdown-menu,
.btn-group-justified .btn-group .dropdown-menu {
    left: auto; }

.logo {
    height: 30px;
    width: 30px;
    padding: 0;
    margin-right: 7px;
    background: url('../img/logo.png');
    background-size: 30px 30px;
}

/* ========== /Bootstrap Overrides ========== */

#sidebar {
    padding-left: 0;
    padding-right: 0;
    background-color: #ecf0f1;
    overflow: auto;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.125);
    border-image: initial;
}

#prop-col {
    padding: 20px;
    background-color: #ecf0f1;
    overflow: auto;
}

#sidebar-top {
    padding: 20px;
}


/* класс для показа иконки справа внутри дерева */
.jui {
    margin-top: 4px;
    float: right;
}


#propTab {
    padding-top: 20px;
}

.bd-example {
    /*border: solid #d4d4d4;*/
    margin-right: 20px;
    margin-left: 20px;
    /*border-width: .1rem;*/
}

#prop {
    background-color: #fff;
    padding: 20px;
}

/* Стили для three.tag */

three #render {
  height: 100%;
}

three #inset {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  bottom: 150px;
  z-index: 100;
}

/* Стили для three.tag - rndr-toolbar */

rndr-toolbar #rndr-toolbar {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
}

.bd-example-modal-lg .modal-dialog{
  display: table;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content{
  background-color: transparent;
  border: none;
}